<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gdjtback.mapper.PressureDataMapper">


<select id="findWeeklyPressureDataByDeviceID" parameterType="String" resultType="PressureData">

    SELECT * FROM pressureData WHERE TO_DAYS(now()) - TO_DAYS(sTime) &lt;= 7 and deviceID=#{deviceID} AND sensorID=#{sensorID}


</select>
    <select id="getDeviceInfoByDeviceID" parameterType="String" resultType="PressureData">

   SELECT * FROM pressureData
   where sTime=(SELECT max(sTime) FROM pressureData) and deviceID=#{deviceID}


</select>


</mapper>